.about-spacer {
  height: 0px;
}

.about-me-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--clt-dark);
  min-height: fit-content;
  color: #fff;
  height: 100vh;
}

.about-me-grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.about-me-heading {
  color: var(--clr-accent);
  /* padding-top: 50px; */
  padding-bottom: 30px;
  font-size: xx-large;
  margin-bottom: 0;
}

.about-me-img {
  width: 20em;
  border-radius: 10px;
}

.about-me-p {
  padding: 20px 30px;
}
/* ________________________________________________min 600px________________________________________________ */

@media (min-width: 770px) {
  .about-me-grid {
    display: grid;
    grid-column-gap: 1em;
    grid-template-areas:
      "content img"
      "content img"
      "content img"
      "content img"
      "content img";
    grid-template-columns: 400px min-content;
    width: min-content;
    margin: 0 auto;
  }

  .about-me-heading {
    color: var(--clr-accent);
  }

  .about-me-img {
    grid-area: img;
    min-width: auto;
    /* padding-bottom: 50px; */
  }

  .about-me-p {
    grid-area: content;
    font-size: 19px;
    font-weight: 200;
  }
}

@media (min-width: 600px) and (max-width: 769px) {
  .about-me-grid {
    display: grid;
    grid-column-gap: 1em;
    grid-template-areas:
      "content img"
      "content img"
      "content img"
      "content img"
      "content img";
    grid-template-columns: 350px min-content;
    width: min-content;
    margin: 0 auto;
  }

  .about-me-heading {
    color: var(--clr-accent);
  }

  .about-me-img {
    grid-area: img;
    width: 14em;
    /* padding-bottom: 50px; */
  }

  .about-me-p {
    grid-area: content;
    font-size: 19px;
    font-weight: 200;
  }
}
