.contact-div {
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* height: 200px; */
  background-color: var(--clt-dark);
  color: var(--clr-light);
  padding: 20px 0px;
}

.header-mail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
  text-align: center;
}

.contact-email {
  font-size: x-large;
  color: var(--clr-accent);
}

.contact-email:hover {
  color: var(--clr-light);
}

.social-list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 2em 0 0;
  padding: 0;
  gap: 20px;
}

.social-list__link {
  font-size: 50px;
  color: var(--clr-accent);
}

.social-list__link:hover {
  color: var(--clr-light);
}
