.spacer {
  height: 50px;
}

.intro-section {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 10px;
  padding: 0px 30px 0px 30px;
}

.intro-img {
  max-width: 100%;
}

.intro-title {
  line-height: 1;
  margin: 0;
  font-weight: var(--fw-reg);
  margin-bottom: 0.25em;
  /* font-size: 80px; */
}

strong {
  font-weight: var(--fw-bold);
  font-size: xx-large;
}

.intro-subtitle {
  display: inline-block;
  background: var(--clr-accent);
  padding: 0.25em 1em;
  font-family: var(--ff-secondary);
  margin-bottom: 50px;
  margin: 0;
  font-size: var(--fs-h3);
}

.intro-img {
  box-shadow: var(--bs);
  border-radius: 10px;
}

/* ________________________________________________max 600px ________________________________________________ */
@media (min-width: 600px) {
  .intro-div {
    display: grid;
    width: min-content;
    margin: 0 auto;
    grid-column-gap: 1em;
    grid-template-areas:
      "img title1"
      "img title2"
      "img subtitle";
    grid-template-columns: min-content max-content;
    grid-template-rows: 180px 50px 200px;
  }

  /* .intro-img {
    grid-area: img;
    max-width: 400px;
    position: relative;
    z-index: 2;
    border-radius: 10px;
  } */

  .intro-title {
    font-size: xx-large;
    text-wrap: wrap;
    grid-area: title1;
    align-self: self-end;
    font-weight: lighter;
  }

  .intro-title-2 {
    font-size: 50px;
    grid-area: title2;
    font-weight: bolder;
  }

  .intro-subtitle {
    align-self: start;
    grid-column: -1 / 1;
    grid-row: 3;
    text-align: right;
    position: relative;
    left: -1.5em;
    width: calc(100% + 1.5em);
  }
}

@media (min-width: 600px) and (max-width: 700px) {
  .intro-img {
    grid-area: img;
    max-width: 250px;
    position: relative;
    z-index: 2;
    border-radius: 10px;
  }
  .intro-div {
    display: grid;
    width: min-content;
    margin: 0 auto;
    grid-column-gap: 1em;
    grid-template-areas:
      "img title1"
      "img title2"
      "img subtitle";
    grid-template-columns: min-content max-content;
    grid-template-rows: 100px 50px 200px;
  }
}

@media (min-width: 701px) and (max-width: 900px) {
  .intro-img {
    grid-area: img;
    max-width: 300px;
    position: relative;
    z-index: 2;
    border-radius: 10px;
  }
  .intro-div {
    display: grid;
    width: min-content;
    margin: 0 auto;
    grid-column-gap: 1em;
    grid-template-areas:
      "img title1"
      "img title2"
      "img subtitle";
    grid-template-columns: min-content max-content;
    grid-template-rows: 140px 50px 200px;
  }
}

@media (min-width: 900px) {
  .intro-img {
    grid-area: img;
    max-width: 400px;
    position: relative;
    z-index: 2;
    border-radius: 10px;
  }
}
